@model OnSale.Web.Models.CategoryViewModel

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ImageFile" class="control-label"></label>
    <input asp-for="ImageFile" type="file" class="form-control" />
    <span asp-validation-for="ImageFile" class="text-danger"></span>
</div>
